#investmentTable {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tableData {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.tableData thead td {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.tableData tbody td {
    border: solid 1px #DDEEEE;
    color: #7e99db;
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #0d98ba;
    text-align: center;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
    background-color: #333;
    color: #0d98ba;
    border-radius: 5px;
  }
  
  input[type="text"]:read-only {
    background-color: #666;
  }
  
  button {
    background-color: #0d98ba;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0a7b8c;
  }
  
  #investmentTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  #investment45dTable th, #investmentTable td {
    border: 1px solid #0d98ba;
    padding: 8px;
    text-align: left;
  }
  
  @media screen and (max-width: 600px) {
    input[type="text"], input[type="number"], button {
      width: 100%;
    }
  }

  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(0%, -50%);
    z-index: -1;
    overflow: hidden;
  }

  #content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
  }

  .input-container {
    width: 100%;
  }

  .input-container .content {
    width: 40%;
  }

  .main-container {
    display: flex;
    justify-content: center;
  }
  
  .input-container .content > input, .input-container .content > button {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #333;
    background-color: #333;
    color: #0d98ba;
    border-radius: 5px;
    text-align: center;
}

.input-container > input[type="text"]:read-only {
    background-color: #666;
}

.input-container > button {
    cursor: pointer;
    background-color: #0d98ba;
    color: white;
    transition: background-color 0.3s ease;
}

.input-container > button:hover {
    background-color: #0a7b8c;
}

@media screen and (max-width: 600px) {
    .input-container > input, .input-container > button {
        margin-left: 5%;
        margin-bottom: 7px;
    }
}